<div id="<%= dom_id project %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Status: <%= project.status.humanize.capitalize %></strong>
  </p>

  <p class="my-5">
    <%= project.description %>
  </p>
</div>
